# PostgreSQL
POSTGRES_DB=assessment
POSTGRES_USER=assessment
POSTGRES_PASSWORD=assessment
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=assessment
RABBITMQ_PASS=assessment
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_QUEUE=metric

# Web
WEB_PORT=8000

